.intro-section {
  padding: 10px 0 0;
  .section-content {
    .intro-title {
      font-weight: 700;
      font-size: 44px;
      color: $color-black;
    }
  }

  .section-img {
    svg {
      max-width: 100%;
      height: auto;
    }
  }
  .intro-img {
    padding: 0 0 40px;
    svg {
      .ball {
        animation: ball 5s ease infinite forwards;
        @for $i from 1 to 6 {
          &:nth-child(#{$i}) {
            animation-delay: $i * 1s;
          }
        }
      }
      .right-hand {
        animation: hand-move 2s 1s ease-in-out forwards;
      }
      .left-hand,
      #one {
        animation: hand-move 2s 1s ease-in-out reverse forwards;
      }
    }
  }
}
@media (max-width: 992px) {
  .intro-section {
    .section-content {
      .intro-title {
        font-size: 34px;
      }
    }
  }
}
@media (max-width: 772px) {
  .intro-section {
    .section-content {
      .intro-title {
        font-size: 24px;
      }
    }
    .intro-img {
      padding: 0 0 0;
    }
  }
}
