.services-details-section {
  .services-details-box {
    margin: 0 0 40px;
    background: #f0f2ed;
    padding: 33px;
    border-radius: 15px;
    margin-bottom: 30px;
    .services-details-box-content {
      text-align: center;
      .services-details-title-box {
        font-size: 24px;
        font-weight: 600;
        color: $color-black;
      }
      .prag {
        max-width: 80%;
        font-size: 18px;
        margin: 0 auto;
        padding: 20px 0 30px;
      }
      .button-box {
        a {
          display: inline-block;
        }
      }
    }
    .services-details-box-form {
      display: none;
      .form-box {
        margin: 0 0 10px;
        display: flex;
        align-items: center;
        .prag {
          font-size: 15px;
        }
        input,
        select {
          border-radius: 5px;
          border: 1px solid $color-gray;
          margin: 0 10px;
          height: 25px;
          width: 70px;
          text-align: center;
          &:focus {
            outline: none;
            box-shadow: 0;
            border: 1px solid $color-primary;
          }
        }
        .unit-text {
          font-size: 16px;
          font-weight: 400;
          color: rgba($color-primary-dark, 1);
        }
      }
    }
  }
  .section-details-list-box {
    padding-bottom: 40px;
    .section-details-list {
      padding: 0 58px;
      li {
        padding-bottom: 20px;
        display: flex;
        align-items: center;
        img {
          height: 25px;
        }
        .text-box {
          display: flex;
          .min-title {
            font-size: 18px;
            font-weight: 500;
            color: $color-black;
            padding: 0 10px;
          }
          .list-details {
            font-size: 15px;
            font-weight: 500;
            color: $color-primary;
          }
        }
      }
    }
  }
}

.feedback-slider-box {
  padding: 0px 58px;
  .feedback-slider {
    .circle-arrow {
      z-index: 22;
      position: absolute;
      bottom: 20px;
      width: 35px;
      height: 35px;
      font-size: 20px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      background-color: $color-primary-dark;
      color: $color-white;
      cursor: pointer;
      @extend%trans2;
      &:hover {
        background-color: $color-primary;
      }
      &.slick-disabled {
        background-color: rgba($color-gray, 0.4);
      }
      @include dir(rtl) {
        &.time-left {
          left: 30px;
        }
        &.time-right {
          left: 80px;
        }
      }
    }
    .feedback-slider-item {
      box-shadow: -2px -4px 4px rgba(240, 242, 237, 0.35),
        2px 4px 4px rgba(240, 242, 237, 0.35);
      padding: 20px 20px 45px;
      border-radius: 5px;
      margin: 10px;
      width: calc(100% - 20px) !important;
      .rate-star-list {
        ul {
          justify-content: flex-end;
          display: flex;
          align-items: center;
          li {
            padding: 0 6px;
            color: $color-gold;
            &.disable-rate {
              color: $color-page;
            }
          }
        }
      }
      .slider-details-content {
        display: flex;
        align-items: center;
        padding: 14px 0;
        img {
          height: 60px;
          aspect-ratio: 1;
          object-fit: cover;
          border-radius: 50%;
        }
        .prag {
          padding: 0 20px;
          font-size: 18px;
          max-width: 80%;
        }
      }
    }
  }
}

@media (max-width: 772px) {
  .services-details-section {
    .services-details-box {
      .services-details-box-content {
        .services-details-title-box {
          font-size: 14px;
        }
        .prag {
          font-size: 12px;
        }
      }
      .services-details-box-form {
        .form-box {
          display: block;

          .prag {
            font-size: 13px;
            margin: 0 0 10px;
          }
        }
      }
    }

    .section-title-box {
      .section-title {
        font-size: 16px;
      }
    }
    .section-details-list-box {
      .section-details-list {
        padding: 0;
        li {
          .text-box {
            display: block;
            .min-title {
              font-size: 14px;
            }
            .list-details {
              padding: 2px 20px;
              font-size: 12px;
            }
          }
        }
      }
    }
  }
  .feedback-slider-box {
    .feedback-slider {
      .circle-arrow {
        font-size: 14px;
        width: 30px;
        height: 30px;
        @include dir(rtl) {
          &.time-right {
            left: unset;
            right: 30px;
          }
        }
      }
      .feedback-slider-item {
        .rate-star-list {
          ul {
            justify-content: center;
            li {
              font-size: 14px;
            }
          }
        }
        .slider-details-content {
          display: block;
          text-align: center;
          img {
            margin: 0 auto 10px;
          }
          .prag {
            padding: 0 10px;
            max-width: 100%;
            font-size: 14px;
          }
        }
      }
    }
  }
  .feedback-slider-box {
    padding: 0;
  }
}
