p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: unset;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
}
html[dir=rtl] body {
  font-family: "Tajawal", sans-serif;
}

.overlay {
  inset: 0;
  background-color: rgba(0, 0, 0, 0.26);
  position: fixed;
  z-index: 99;
  display: none;
}

.section-60 {
  padding: 60px 0;
}

.prag {
  color: #000;
  font-weight: 500;
  font-size: 22px;
}

@media (max-width: 992px) {
  .prag {
    font-size: 16px;
  }
}
.nav-section {
  padding: 35px 0;
  position: relative;
}
.nav-section .nav-box .close-menu {
  display: none;
}
.nav-section .nav-box ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
html[dir=rtl] .nav-section .nav-box ul li {
  padding-right: 30px;
}
html[dir=rtl] .nav-section .nav-box ul li:first-of-type {
  padding-right: 0px;
}
.nav-section .nav-box ul li a {
  font-size: 16px;
  font-weight: 600;
  color: #000;
  padding-bottom: 10px;
  position: relative;
}
.nav-section .nav-box ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0%;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background-color: #3ca078;
}
.nav-section .nav-box ul li a.active, .nav-section .nav-box ul li a:hover {
  color: #3ca078;
}
.nav-section .nav-box ul li a.active::after, .nav-section .nav-box ul li a:hover::after {
  width: 50%;
}
.nav-section .header-side-box {
  display: flex;
  align-items: center;
}
.nav-section .header-side-box .search-box form {
  border: 1px solid #3ca078;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 6px;
}
.nav-section .header-side-box .search-box form input {
  border: 0;
  width: 100%;
  font-weight: 600;
  color: #000;
  background: transparent;
}
.nav-section .header-side-box .search-box form input::-moz-placeholder {
  color: #000;
}
.nav-section .header-side-box .search-box form input:-ms-input-placeholder {
  color: #000;
}
.nav-section .header-side-box .search-box form input::placeholder {
  color: #000;
}
.nav-section .header-side-box .search-box form input:focus {
  border: 0;
  box-shadow: none;
  outline: 0;
}
.nav-section .header-side-box .search-box form button {
  border: 0;
  background-color: transparent;
  color: #3ca078;
}
.nav-section .header-side-box .icon-box {
  display: none;
}
.nav-section .header-side-box .icon-box div {
  margin: 0 10px;
}
.nav-section .header-side-box .icon-box div i {
  cursor: pointer;
  font-size: 18px;
  color: #3ca078;
}
.nav-section .header-side-box .icon-box div i:hover {
  color: black;
}

@media (max-width: 992px) {
  html[dir=rtl] .nav-section .nav-box ul li {
    padding-right: 14px;
  }
  .nav-section .nav-box ul li a {
    font-size: 14px;
  }
}
@media (max-width: 992px) {
  .nav-section {
    padding: 30px 0;
    z-index: 9999 !important;
  }
  .nav-section .nav-box {
    position: fixed;
    inset: 0;
    padding: 60px;
    z-index: 999999999;
    background-color: #3ca078;
    display: none;
  }
  .nav-section .nav-box .close-menu {
    position: absolute;
    top: 30px;
    display: block;
  }
  html[dir=rtl] .nav-section .nav-box .close-menu {
    left: 30px;
  }
  html[dir=ltr] .nav-section .nav-box .close-menu {
    right: 30px;
  }
  .nav-section .nav-box .close-menu i {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  .nav-section .nav-box ul {
    display: block;
    text-align: start;
  }
  .nav-section .nav-box ul li {
    padding-bottom: 24px;
  }
  html[dir=rtl] .nav-section .nav-box ul li {
    padding-right: 0;
  }
  .nav-section .nav-box ul li a.active, .nav-section .nav-box ul li a:hover {
    color: #fff;
  }
  .nav-section .nav-box ul li a.active::after, .nav-section .nav-box ul li a:hover::after {
    background-color: #fff;
    width: 50%;
  }
  html[dir=rtl] .nav-section .nav-box ul li a::after {
    right: 0;
    left: unset;
    transform: translateX(0);
  }
  html[dir=ltr] .nav-section .nav-box ul li a::after {
    right: unset;
    left: 0;
    transform: translateX(0);
  }
  .nav-section .header-side-box {
    justify-content: flex-end;
  }
  .nav-section .header-side-box .icon-box {
    display: flex;
    justify-content: flex-end;
  }
  .nav-section .header-side-box .search-box {
    top: 73%;
    position: absolute;
    background-color: white;
    width: 100%;
    right: 0;
    padding: 0 0 10px;
    box-shadow: 0 10px 10px rgba(60, 160, 120, 0.1);
    display: none;
    z-index: 1;
  }
  .nav-section .header-side-box .search-box:after {
    content: "";
    z-index: -2;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    background: linear-gradient(89.25deg, rgba(240, 242, 237, 0) 0.46%, #f0f2ed 35.54%);
  }
  .nav-section .header-side-box .search-box form {
    width: 73%;
    margin: 0 auto;
  }
}
.newsletter-section {
  margin: 80px 0;
}
.newsletter-section .newsletter-box {
  position: relative;
  padding: 77px;
  border-radius: 15px;
  text-align: center;
  background-color: #f6f7f4;
}
.newsletter-section .newsletter-box .newsletter-img-after {
  position: absolute;
  bottom: -20px;
  left: -50px;
}
.newsletter-section .newsletter-box:after {
  content: "";
  right: -28px;
  top: -74px;
  aspect-ratio: 1;
  height: 150px;
  background-image: url("../img/man.png");
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
}
.newsletter-section .newsletter-box::before {
  content: "";
  right: 0px;
  top: 90px;
  aspect-ratio: 1;
  height: 150px;
  background-image: url("../img/line.png");
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  width: 180.65px;
  height: 183.64px;
}
.newsletter-section .newsletter-box .newsletter-title-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.newsletter-section .newsletter-box .newsletter-title-box .newsletter-img {
  padding: 0 16px;
}
.newsletter-section .newsletter-box .newsletter-title-box .newsletter-img img {
  aspect-ratio: 1;
  height: 50px;
}
.newsletter-section .newsletter-box .newsletter-title-box .newsletter-title {
  font-weight: 700;
  font-size: 26px;
  color: black;
}
.newsletter-section .newsletter-box .newsletter-form-box {
  position: relative;
  z-index: 9999;
}
.newsletter-section .newsletter-box .newsletter-form-box form {
  z-index: 999;
  margin: 40px auto 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  border-radius: 60px;
  border: 1px solid #3ca078;
}
.newsletter-section .newsletter-box .newsletter-form-box form input {
  font-weight: 600;
  padding: 0 10px;
  max-width: 100%;
  width: 400px;
  border: 0;
  background-color: transparent;
}
.newsletter-section .newsletter-box .newsletter-form-box form input:focus {
  color: #3ca078;
  border: 0;
  box-shadow: 0;
  outline: none;
}
.newsletter-section .newsletter-box .newsletter-form-box form button {
  background-color: #066058;
  border-radius: 30px;
  border: 1px solid #066058;
  padding: 6px 20px;
  font-size: 20px;
  color: white;
}
.newsletter-section .newsletter-box .newsletter-form-box form button:hover {
  background-color: #3ca078;
  border-color: #3ca078;
}

.footer-section {
  padding: 60px 0 20px;
  background-color: #066058;
}
.footer-section .contact-footer .contact-footer-title {
  font-weight: 500;
  font-size: 22px;
  color: #bdb2dd;
  padding-bottom: 15px;
}
.footer-section .contact-footer .footer-list li {
  padding-bottom: 13px;
}
.footer-section .contact-footer .footer-list li a {
  font-weight: 400;
  font-size: 16px;
  color: #f0f2ed;
}
.footer-section .contact-footer .footer-list li a i {
  color: #bdb2dd;
}
.footer-section .contact-footer .footer-list li a:hover {
  color: #fff;
  letter-spacing: 1px;
}
.footer-section .copyright {
  padding: 50px 0 0;
  text-align: center;
  color: #fff;
  font-size: 16px;
}

@media (max-width: 992px) {
  .newsletter-section .newsletter-box {
    padding: 47px;
  }
  .newsletter-section .newsletter-box::before {
    transform: rotate(-22deg);
    right: -45px;
    top: 11px;
    width: 174.65px;
    height: 143.64px;
  }
  .newsletter-section .newsletter-box .newsletter-title-box .newsletter-title {
    font-size: 20px;
  }
  .newsletter-section .newsletter-box .newsletter-form-box form {
    margin-top: 20px;
  }
  .newsletter-section .newsletter-box .newsletter-img-after {
    left: -13px;
  }
  .newsletter-section .newsletter-box::after {
    height: 100px;
  }
  .newsletter-section .newsletter-box .newsletter-form-box form input {
    width: 278px;
  }
  .newsletter-section .newsletter-box .newsletter-form-box form button {
    padding: 6px 15px;
    font-size: 18px;
  }
}
@media (max-width: 772px) {
  .newsletter-section .newsletter-box {
    padding: 47px 10px;
  }
  .newsletter-section .newsletter-box::before {
    transform: rotate(-46deg);
    right: -45px;
    top: 11px;
    width: 105.65px;
    height: 101.64px;
  }
  .newsletter-section .newsletter-box .newsletter-img-after {
    left: 0;
  }
  .newsletter-section .newsletter-box .newsletter-img-after img {
    height: 79px;
  }
  .newsletter-section .newsletter-box .newsletter-title-box {
    display: block;
  }
  .newsletter-section .newsletter-box .newsletter-title-box .newsletter-img {
    padding-bottom: 14px;
  }
  .newsletter-section .newsletter-box .newsletter-form-box form {
    width: 100%;
    justify-content: space-between;
  }
  .newsletter-section .newsletter-box .newsletter-form-box form input {
    width: 64%;
  }
  .newsletter-section .newsletter-box .newsletter-form-box form button {
    padding: 5px 12px;
    font-size: 14px;
  }
  .footer-section .contact-footer {
    padding-top: 30px;
  }
  .footer-section .contact-footer .contact-footer-title {
    font-display: 20px;
  }
  .footer-section .contact-footer .footer-list li a {
    font-size: 14px;
  }
}
@media (max-width: 430px) {
  .newsletter-section .newsletter-box .newsletter-form-box form input {
    width: 50%;
  }
}
.intro-section {
  padding: 10px 0 0;
}
.intro-section .section-content .intro-title {
  font-weight: 700;
  font-size: 44px;
  color: #000;
}
.intro-section .section-img svg {
  max-width: 100%;
  height: auto;
}
.intro-section .intro-img {
  padding: 0 0 40px;
}
.intro-section .intro-img svg .ball {
  -webkit-animation: ball 5s ease infinite forwards;
          animation: ball 5s ease infinite forwards;
}
.intro-section .intro-img svg .ball:nth-child(1) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.intro-section .intro-img svg .ball:nth-child(2) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.intro-section .intro-img svg .ball:nth-child(3) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
.intro-section .intro-img svg .ball:nth-child(4) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.intro-section .intro-img svg .ball:nth-child(5) {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}
.intro-section .intro-img svg .right-hand {
  -webkit-animation: hand-move 2s 1s ease-in-out forwards;
          animation: hand-move 2s 1s ease-in-out forwards;
}
.intro-section .intro-img svg .left-hand,
.intro-section .intro-img svg #one {
  animation: hand-move 2s 1s ease-in-out reverse forwards;
}

@media (max-width: 992px) {
  .intro-section .section-content .intro-title {
    font-size: 34px;
  }
}
@media (max-width: 772px) {
  .intro-section .section-content .intro-title {
    font-size: 24px;
  }
  .intro-section .intro-img {
    padding: 0 0 0;
  }
}
.button-box.border-button a,
.button-box.border-button button {
  background-color: transparent;
  color: #066058;
}
.button-box.border-button a:hover,
.button-box.border-button button:hover {
  color: #fff;
}
.button-box a,
.button-box button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 16px;
  border: 1px solid #066058;
  background-color: #066058;
  color: #fff;
}
.button-box a:hover,
.button-box button:hover {
  background-color: #3ca078;
  border-color: #3ca078;
}
html[dir=rtl] .button-box a .text,
html[dir=rtl] .button-box button .text {
  padding: 0 10px 0 0;
}
html[dir=ltr] .button-box a .text,
html[dir=ltr] .button-box button .text {
  padding: 0 0 0 10px;
}
.button-box a:focus,
.button-box button:focus {
  border-color: #3ca078;
  outline: none;
  box-shadow: none;
}

.edit-modle {
  z-index: 9999999;
}
.edit-modle .modal-content {
  padding: 0 10px 40px;
}
.edit-modle .modal-header {
  border: 0;
  justify-content: flex-end;
}
.edit-modle .modal-header button {
  color: #066058;
  border: 0;
  background-color: transparent;
  font-size: 22px;
}
.edit-modle .modal-header button:focus {
  border: 0;
  outline: none;
  box-shadow: none;
}
.edit-modle .error-content img {
  height: 100px;
}
.edit-modle .error-content .error-title {
  padding: 20px 0 60px;
  font-weight: 500;
  font-size: 20px;
  color: #000;
}
.edit-modle .model-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.edit-modle .model-button .button-box {
  width: 45%;
}
.edit-modle .model-button .button-box a {
  padding: 6px;
}

@media (max-width: 772px) {
  .button-box a,
.button-box button {
    font-size: 14px;
    padding: 8px 16px;
  }
  .edit-modle .error-content .error-title {
    padding: 20px 0 30px;
    font-size: 14px;
  }
  .edit-modle .model-button {
    display: block;
  }
  .edit-modle .model-button .button-box {
    padding: 10px 0 0;
    width: 100%;
  }
}
.service-box {
  position: relative;
}
.service-box:hover .service-image:after {
  opacity: 0.1;
}
.service-box:hover .service-title {
  color: #3ca078;
}
.service-box .service-image {
  box-shadow: 2px 4px 4px 0px rgba(240, 242, 237, 0.3490196078), -2px -4px 4px 0px rgba(240, 242, 237, 0.3490196078);
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 290px;
}
.service-box .service-image:after {
  inset: 0;
  position: absolute;
  content: "";
  background: linear-gradient(0deg, #ffffff 0, #3ca078 100%);
  opacity: 0;
}
.service-box .service-title {
  font-weight: 500;
  padding-top: 16px;
  font-size: 22px;
  color: #000;
  text-align: center;
}

.section-title-box {
  margin: 0 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-title-box .section-title {
  font-size: 28px;
  font-weight: 700;
  color: #000;
}
.section-title-box .more-link a {
  font-size: 20px;
  color: #3ca078;
  font-weight: 500;
}
.section-title-box .more-link a:hover {
  color: #000;
}

@media (max-width: 772px) {
  .section-title-box.center-media {
    margin: 40px 0 20px 0;
    justify-content: center;
  }
  .section-title-box .section-title {
    font-size: 20px;
  }
  .section-title-box .more-link a {
    font-size: 16px;
  }
  .section-content {
    padding: 0 0 20px;
    text-align: center;
  }
}
.social-list-box .social-list {
  display: flex;
  align-items: center;
}
html[dir=rtl] .social-list-box .social-list li {
  padding-left: 20px;
}
.social-list-box .social-list li a {
  color: #bdb2dd;
  font-size: 20px;
}
.social-list-box .social-list li a:hover {
  color: #3ca078;
}

.background-section {
  position: relative;
  z-index: 1;
}
.background-section.right-background-section:after {
  background: linear-gradient(270deg, rgba(240, 242, 237, 0) 0.46%, #f0f2ed 35.54%);
  right: unset;
  left: 0;
}
.background-section:after {
  content: "";
  z-index: -2;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  background: linear-gradient(89.25deg, rgba(240, 242, 237, 0) 0.46%, #f0f2ed 35.54%);
}

.about-page-section {
  padding: 0 0 90px 0;
}

.frist-pazel {
  -webkit-animation: frist-pazel-animation 2s ease-in-out 3s 1 forwards;
          animation: frist-pazel-animation 2s ease-in-out 3s 1 forwards;
}

.sc-pazel {
  -webkit-animation: sc-pazel-animation 2s ease-in-out 3s 1 forwards;
          animation: sc-pazel-animation 2s ease-in-out 3s 1 forwards;
}

.th-pazel {
  -webkit-animation: th-pazel-animation 2s ease-in-out 3s 1 forwards;
          animation: th-pazel-animation 2s ease-in-out 3s 1 forwards;
}

.forth-pazel {
  -webkit-animation: forth-pazel-animation 2s ease-in-out 3s 1 forwards;
          animation: forth-pazel-animation 2s ease-in-out 3s 1 forwards;
}

@media (max-width: 772px) {
  .about-page-section {
    padding: 0;
  }
}
@-webkit-keyframes hand-move {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-95px);
  }
}
@keyframes hand-move {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-95px);
  }
}
@-webkit-keyframes ball {
  37% {
    transform: translate(-1%, 1%);
  }
  74% {
    transform: translate(-1%, 2%);
  }
}
@keyframes ball {
  37% {
    transform: translate(-1%, 1%);
  }
  74% {
    transform: translate(-1%, 2%);
  }
}
@-webkit-keyframes frist-pazel-animation {
  from {
    transform: rotate(0deg) translate(0px, 0px);
  }
  to {
    transform: rotate(2deg) translate(15px, 4px);
  }
}
@keyframes frist-pazel-animation {
  from {
    transform: rotate(0deg) translate(0px, 0px);
  }
  to {
    transform: rotate(2deg) translate(15px, 4px);
  }
}
@-webkit-keyframes sc-pazel-animation {
  from {
    transform: rotate(0deg) translate(0px, 0px);
  }
  to {
    transform: rotate(0deg) translate(-10px, 13px);
  }
}
@keyframes sc-pazel-animation {
  from {
    transform: rotate(0deg) translate(0px, 0px);
  }
  to {
    transform: rotate(0deg) translate(-10px, 13px);
  }
}
@-webkit-keyframes th-pazel-animation {
  from {
    transform: rotate(0deg) translate(0px, 0px);
  }
  to {
    transform: rotate(-1deg) translate(-5px, 4px);
  }
}
@keyframes th-pazel-animation {
  from {
    transform: rotate(0deg) translate(0px, 0px);
  }
  to {
    transform: rotate(-1deg) translate(-5px, 4px);
  }
}
@-webkit-keyframes forth-pazel-animation {
  from {
    transform: rotate(0deg) translate(0px, 0px);
  }
  to {
    transform: rotate(-3.6deg) translate(-50px, 18px) scale(1.01);
  }
}
@keyframes forth-pazel-animation {
  from {
    transform: rotate(0deg) translate(0px, 0px);
  }
  to {
    transform: rotate(-3.6deg) translate(-50px, 18px) scale(1.01);
  }
}
.nav-section .nav-box ul li a, .nav-section .nav-box ul li a::after, .nav-section .header-side-box .icon-box div i, .newsletter-section .newsletter-box .newsletter-form-box form input, .newsletter-section .newsletter-box .newsletter-form-box form button, .footer-section .contact-footer .footer-list li a, .button-box a,
.button-box button, .service-box .service-image:after, .service-box .service-title, .section-title-box .more-link a, .social-list-box .social-list li a {
  transition: 0.2s all ease-in-out;
}