p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: unset;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
}
html[dir=rtl] body {
  font-family: "Tajawal", sans-serif;
}

.overlay {
  inset: 0;
  background-color: rgba(0, 0, 0, 0.26);
  position: fixed;
  z-index: 99;
  display: none;
}

.section-60 {
  padding: 60px 0;
}

.nav-section {
  padding: 60px 0;
  position: relative;
}
.nav-section .nav-box .close-menu {
  display: none;
}
.nav-section .nav-box ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
html[dir=rtl] .nav-section .nav-box ul li {
  padding-right: 30px;
}
html[dir=rtl] .nav-section .nav-box ul li:first-of-type {
  padding-right: 0px;
}
.nav-section .nav-box ul li a {
  font-size: 16px;
  font-weight: 600;
  color: #000;
  padding-bottom: 10px;
  position: relative;
}
.nav-section .nav-box ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0%;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background-color: #3ca078;
}
.nav-section .nav-box ul li a.active, .nav-section .nav-box ul li a:hover {
  color: #3ca078;
}
.nav-section .nav-box ul li a.active::after, .nav-section .nav-box ul li a:hover::after {
  width: 50%;
}
.nav-section .header-side-box {
  display: flex;
  align-items: center;
}
.nav-section .header-side-box .search-box form {
  border: 1px solid #3ca078;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 6px;
}
.nav-section .header-side-box .search-box form input {
  border: 0;
  width: 100%;
  font-weight: 600;
  color: #000;
}
.nav-section .header-side-box .search-box form input::-moz-placeholder {
  color: #000;
}
.nav-section .header-side-box .search-box form input:-ms-input-placeholder {
  color: #000;
}
.nav-section .header-side-box .search-box form input::placeholder {
  color: #000;
}
.nav-section .header-side-box .search-box form input:focus {
  border: 0;
  box-shadow: none;
  outline: 0;
}
.nav-section .header-side-box .search-box form button {
  border: 0;
  background-color: transparent;
  color: #3ca078;
}
.nav-section .header-side-box .icon-box {
  display: none;
}
.nav-section .header-side-box .icon-box div {
  margin: 0 10px;
}
.nav-section .header-side-box .icon-box div i {
  cursor: pointer;
  font-size: 18px;
  color: #3ca078;
}
.nav-section .header-side-box .icon-box div i:hover {
  color: black;
}

@media (max-width: 992px) {
  html[dir=rtl] .nav-section .nav-box ul li {
    padding-right: 14px;
  }
  .nav-section .nav-box ul li a {
    font-size: 14px;
  }
}
@media (max-width: 992px) {
  .nav-section {
    padding: 30px;
  }
  .nav-section .nav-box {
    position: fixed;
    inset: 0;
    padding: 60px;
    z-index: 99999;
    background-color: #3ca078;
    display: none;
  }
  .nav-section .nav-box .close-menu {
    position: absolute;
    top: 30px;
    display: block;
  }
  html[dir=rtl] .nav-section .nav-box .close-menu {
    left: 30px;
  }
  html[dir=ltr] .nav-section .nav-box .close-menu {
    right: 30px;
  }
  .nav-section .nav-box .close-menu i {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  .nav-section .nav-box ul {
    display: block;
    text-align: start;
  }
  .nav-section .nav-box ul li {
    padding-bottom: 24px;
  }
  html[dir=rtl] .nav-section .nav-box ul li {
    padding-right: 0;
  }
  .nav-section .nav-box ul li a.active, .nav-section .nav-box ul li a:hover {
    color: #fff;
  }
  .nav-section .nav-box ul li a.active::after, .nav-section .nav-box ul li a:hover::after {
    background-color: #fff;
    width: 50%;
  }
  html[dir=rtl] .nav-section .nav-box ul li a::after {
    right: 0;
    left: unset;
    transform: translateX(0);
  }
  html[dir=ltr] .nav-section .nav-box ul li a::after {
    right: unset;
    left: 0;
    transform: translateX(0);
  }
  .nav-section .header-side-box {
    justify-content: flex-end;
  }
  .nav-section .header-side-box .icon-box {
    display: flex;
    justify-content: flex-end;
  }
  .nav-section .header-side-box .search-box {
    top: 73%;
    position: absolute;
    background-color: white;
    width: 100%;
    right: 0;
    padding: 0 0 10px;
    box-shadow: 0 10px 10px rgba(60, 160, 120, 0.1);
    display: none;
  }
  .nav-section .header-side-box .search-box form {
    width: 73%;
    margin: 0 auto;
  }
}
.footer-section {
  padding: 60px 0 20px;
  background-color: #066058;
}
.footer-section .contact-footer .contact-footer-title {
  font-weight: 500;
  font-size: 22px;
  color: #bdb2dd;
  padding-bottom: 15px;
}
.footer-section .contact-footer .footer-list li {
  padding-bottom: 13px;
}
.footer-section .contact-footer .footer-list li a {
  font-weight: 400;
  font-size: 16px;
  color: #f0f2ed;
}
.footer-section .contact-footer .footer-list li a i {
  color: #bdb2dd;
}
.footer-section .contact-footer .footer-list li a:hover {
  color: #3ca078;
}
.footer-section .copyright {
  padding: 50px 0 0;
  text-align: center;
  color: #fff;
  font-size: 16px;
}

@media (max-width: 772px) {
  .footer-section .contact-footer {
    padding-top: 30px;
  }
  .footer-section .contact-footer .contact-footer-title {
    font-display: 20px;
  }
  .footer-section .contact-footer .footer-list li a {
    font-size: 14px;
  }
}
.service-box {
  position: relative;
}
.service-box:hover .service-image:after {
  opacity: 0.1;
}
.service-box:hover .service-title {
  color: #3ca078;
}
.service-box .service-image {
  box-shadow: 2px 4px 4px 0px rgba(240, 242, 237, 0.3490196078), -2px -4px 4px 0px rgba(240, 242, 237, 0.3490196078);
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 290px;
}
.service-box .service-image:after {
  inset: 0;
  position: absolute;
  content: "";
  background: linear-gradient(0deg, #ffffff 0, #3ca078 100%);
  opacity: 0;
}
.service-box .service-title {
  font-weight: 500;
  padding-top: 16px;
  font-size: 22px;
  color: #000;
  text-align: center;
}

.section-title {
  padding-bottom: 36px;
}
.section-title .title {
  font-size: 36px;
  font-weight: 700;
}

.social-list-box .social-list {
  display: flex;
  align-items: center;
}
html[dir=rtl] .social-list-box .social-list li {
  padding-left: 20px;
}
.social-list-box .social-list li a {
  color: #bdb2dd;
  font-size: 20px;
}
.social-list-box .social-list li a:hover {
  color: #3ca078;
}

.background-section {
  position: relative;
  z-index: 1;
}
.background-section:after {
  content: "";
  z-index: -2;
  position: absolute;
  inset: 0;
  width: 50%;
  background: linear-gradient(89.25deg, rgba(240, 242, 237, 0) 0.46%, #f0f2ed 35.54%);
}

.intro-section {
  padding: 10px 0 0;
}
.intro-section .section-content .intro-title {
  font-weight: 700;
  font-size: 50px;
  color: #000;
}
.intro-section .intro-img {
  padding: 0 0 40px;
}
.intro-section .intro-img svg {
  max-width: 100%;
  height: auto;
}
.intro-section .intro-img svg .ball {
  -webkit-animation: ball 5s ease infinite forwards;
          animation: ball 5s ease infinite forwards;
}
.intro-section .intro-img svg .ball:nth-child(1) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.intro-section .intro-img svg .ball:nth-child(2) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.intro-section .intro-img svg .ball:nth-child(3) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
.intro-section .intro-img svg .ball:nth-child(4) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.intro-section .intro-img svg .ball:nth-child(5) {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}
.intro-section .intro-img svg .right-hand {
  -webkit-animation: hand-move 2s ease-in-out 1 forwards;
          animation: hand-move 2s ease-in-out 1 forwards;
}
.intro-section .intro-img svg .left-hand,
.intro-section .intro-img svg #one {
  animation: hand-move 2s ease-in-out 1 reverse forwards;
}

@-webkit-keyframes hand-move {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-60px);
  }
}

@keyframes hand-move {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-60px);
  }
}
@-webkit-keyframes ball {
  37% {
    transform: translate(-1%, 1%);
  }
  74% {
    transform: translate(-1%, 2%);
  }
}
@keyframes ball {
  37% {
    transform: translate(-1%, 1%);
  }
  74% {
    transform: translate(-1%, 2%);
  }
}
@media (max-width: 772px) {
  .intro-section .section-content {
    padding: 24px 0 0;
  }
  .intro-section .section-content .intro-title {
    text-align: center;
    font-size: 30px;
  }
  .intro-section .intro-img {
    padding: 0 0 0;
  }
}
.nav-section .nav-box ul li a, .nav-section .nav-box ul li a::after, .nav-section .header-side-box .icon-box div i, .footer-section .contact-footer .footer-list li a, .service-box .service-image:after, .service-box .service-title, .social-list-box .social-list li a {
  transition: 0.2s all ease-in-out;
}