.background-section {
  position: relative;
  z-index: 1;
  &.right-background-section {
    &:after {
      background: linear-gradient(
        270deg,
        rgba(240, 242, 237, 0) 0.46%,
        #f0f2ed 35.54%
      );
      right: unset;
      left: 0;
    }
  }
  &:after {
    content: "";
    z-index: -2;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    background: linear-gradient(
      89.25deg,
      rgba(240, 242, 237, 0) 0.46%,
      #f0f2ed 35.54%
    );
  }
}

.about-page-section {
  padding: 0 0 90px 0;
}

.frist-pazel {
  animation: frist-pazel-animation 2s ease-in-out 3s 1 forwards;
}
.sc-pazel {
  animation: sc-pazel-animation 2s ease-in-out 3s 1 forwards;
}
.th-pazel {
  animation: th-pazel-animation 2s ease-in-out 3s 1 forwards;
}
.forth-pazel {
  animation: forth-pazel-animation 2s ease-in-out 3s 1 forwards;
}

@media (max-width: 772px) {
  .about-page-section {
    padding: 0;
  }
}
