.background-section {
  position: relative;
  z-index: 1;
  &:after {
    content: "";
    z-index: -2;
    position: absolute;
    inset: 0;
    width: 50%;
    background: linear-gradient(
      89.25deg,
      rgba(240, 242, 237, 0) 0.46%,
      #f0f2ed 35.54%
    );
  }
}

.intro-section {
  padding: 10px 0 0;
  .section-content {
    .intro-title {
      font-weight: 700;
      font-size: 50px;
      color: $color-black;
    }
  }
  .intro-img {
    padding: 0 0 40px;
    svg {
      max-width: 100%;
      height: auto;
      .ball {
        animation: ball 5s ease infinite forwards;
        @for $i from 1 to 6 {
          &:nth-child(#{$i}) {
            animation-delay: $i * 1s;
          }
        }
      }
      .right-hand {
        animation: hand-move 2s ease-in-out 1 forwards;
      }
      .left-hand,
      #one {
        animation: hand-move 2s ease-in-out 1 reverse forwards;
      }
    }
  }
}

@media (max-width: 772px) {
  .intro-section {
    .section-content {
      padding: 24px 0 0;
      .intro-title {
        text-align: center;
        font-size: 30px;
      }
    }
    .intro-img {
      padding: 0 0 0;
    }
  }
}
