.section-title-box {
  margin: 0 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &.section-title-box-img {
    justify-content: unset;
    .section-title {
      padding: 0 14px;
    }
  }

  .section-title {
    font-size: 28px;
    font-weight: 700;
    color: $color-black;
  }
  .more-link {
    a {
      font-size: 20px;
      color: $color-primary;
      font-weight: 500;
      @extend%trans2;
      &:hover {
        color: $color-black;
      }
    }
  }
}

@media (max-width: 772px) {
  .section-title-box {
    &.center-media {
      margin: 40px 0 20px 0;
      justify-content: center;
    }
    .section-title {
      font-size: 20px;
    }
    .more-link {
      a {
        font-size: 16px;
      }
    }
  }
  .section-content {
    padding: 0 0 20px;
    text-align: center;
  }
}
