p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: unset;
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

ul {
  padding: 0;
  list-style: none;
}

body {
  counter-reset: terms-list;
  margin: 0;
  padding: 0;
  @include dir(rtl) {
    font-family: "Tajawal", sans-serif;
  }
  &.login-page {
    height: 100vh;
  }
}
@media (max-width: 772px) {
  body {
    &.login-page {
      height: unset;
    }
  }
}
