.overlay {
  inset: 0;
  background-color: rgba(0, 0, 0, 0.26);
  position: fixed;
  z-index: 99;
  display: none;
}

.section-60 {
  padding: 60px 0;
}

.prag {
  color: $color-black;
  font-weight: 500;
  font-size: 22px;
}

@media (max-width: 772px) {
  .prag {
    font-size: 16px;
  }
}
