.overlay {
  inset: 0;
  background-color: rgba(0, 0, 0, 0.26);
  position: fixed;
  z-index: 99;
  display: none;
}

.section-60 {
  padding: 60px 0;
}

.prag {
  color: $color-black;
  font-weight: 500;
  font-size: 22px;
}

.pretty {
  margin: 0;

  .state label:after,
  .state label:before {
    width: 12px;
    height: 12px;

    @include dir(rtl) {
      left: unset;
      right: 1px;
    }
  }
  .state label:before {
    border-color: $color-gray;
    top: 50%;
    transform: translateY(-50%);
  }
  .state label::after {
    transform: scale(0.6) translateY(42%) !important;
  }
  &.p-default input:checked ~ .state label:after {
    background-color: $color-primary-dark !important;
  }
}

@media (max-width: 992px) {
  .prag {
    font-size: 16px;
  }
}
@media (max-width: 772px) {
  .prag {
    font-size: 14px;
  }
  .pretty .state label {
    font-size: 13px;
  }
}
